
<div>
	<form method="post" action="">
		<label for="contact">Contact Us</label>
		<input type="text" name="name">
		<input type="text" name="email">
		<input type="text" name="subject">
		<textarea name="comment"></textarea>
		<input type="submit">
	</form>
</div>