

<div class="modal">
  <form class="form_modal" action="post">
    <input id="modal_input" placeholder="Name" type="text" name="name">
    <input id="modal_input" placeholder="Email" type="text" name="email">
    <input id="modal_input" placeholder="Subject" type="text" name="subject">
    <textarea placeholder="Describe your event" id="description" name="comment"></textarea>
    <div class="submit_holder">
      <button id="modal_submit" type="submit">SUBMIT</button>
    </div>
  </form>
  <div class="video_wrapper">
      <iframe width="560" height="375" src="https://www.youtube-nocookie.com/embed/wm2hlOFy-3c?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="contact_wrapper">
    <div class="left_contact">
      <div class="left_inner_content">
        <h1>Contact</h1>
      
        <p>We allow <strong>ANYONE</strong> to submit a race to our directory. We personally verify <strong>EVERY</strong> submittal before it is public on our site. To add your event, or an event that you know about that we don't already have:</p> <button id="race_button">Add Your Race</button> 

        <p>The best way to contact us is by email at werun@fakeemail.com.</p> 
      </div>  
    </div>

    <div class="right_contact">
      <form method="post" action="">
            <input class="contact_input" placeholder="Name" type="text" name="name">
            <input class="contact_input" placeholder="Email" type="text" name="email">
            <input class="contact_input" placeholder="Subject" type="text" name="subject">
            <button id="contact_submit" type="submit">SEND</button>
        </form>
    </div>
</div>