<h1>Homepage</h1>

<header>
  <h1>Running USA</h1>
  <p>Details about our site</p>
</header>

<div class="left-col">
  <h2>Upcoming Events</h2>
</div>

<div class="right-col"></div>

<div class="footer"></div>






