<h1>Homepage</h1>

<header id="home_banner">
  <h1>Running USA</h1>
  <p>Details about our site</p>
</header>

<div class="left_col">
  <h2>Upcoming Events</h2>

  <div class="event_col">
    <p><%= $titles[0] %></p>  
  </div>

  <ul>
    <% $dates.each do |date| %>
    <li><%= p date %></li>
    <% end %>
  </ul>
</div>

<div class="right_col"></div>

