<h1>Homepage</h1>

<header>
  <h1>Running USA</h1>
  <p>Details about our site</p>
</header>

<div class="left_col">
  <h2>Upcoming Events</h2>
  <% for i in 0..$dates
</div>

<div class="right_col"></div>
<% $i = 0 %>





