<!DOCTYPE html>
<html>
    <head>
        <title>MyPage</title>
        <link rel="stylesheet" href="/styles.css"/>
    </head>
    <body>
     <%= erb :nav %>
     <div class="body">
     	<%= yield %>
 	</div>
    </body>
</html>