<!DOCTYPE html>
<html>
    <head>
        <title>MyPage</title>
        <link rel="stylesheet" href="/styles.css"/>
        <link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">
    </head>
    <body class="<%= @class %>">
     <%= erb :nav %>
     	<%= yield %>
 	<%= erb :footer %>
    <script src="/main.js"></script>
    </body>
</html>