
<nav class="nav">
  <ul>
  	|<li><a href="/">Home</a></li>|
    <li><a href="/map">Map</a></li>|
    <li><a href="/runners">Runners</a></li>|
    <li><a href="/contact">Contact Us</a></li>|
  </ul>
</nav>