
<nav class="nav">
  <ul>
  	|<li><a href="/">Home</a></li>|
<<<<<<< HEAD
    <li><a href="/map">Map</a></li>|
    <li><a href="/runners">Runners</a></li>|
=======
    <li><a href="/map">Upcoming Races</a></li>|
    <li><a href="/runners">Our Athletes</a></li>|
>>>>>>> b01feb2ae9e7a87e083ee650c67d089c6de63fb3
    <li><a href="/contact">Contact Us</a></li>|
  </ul>
</nav>