
<nav class="nav">
  <ul>
  	|<li><a href="/">Home</a></li>|
    <li><a href="/map">Upcoming Races</a></li>|
    <li><a href="/runners">Our Athletes</a></li>|

    <li><a href="/contact">Contact Us</a></li>|
  </ul>
</nav>