
<nav class="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/images">Images</a></li>
    <li><a href="/blogs">Blogs</a></li>
  </ul>
</nav>