
<nav class="nav">
  <ul>
  	|<li><a href="/">Home</a></li>|
<<<<<<< HEAD
<<<<<<< HEAD
    <li><a href="/map">Map</a></li>|
    <li><a href="/runners">Runners</a></li>|
=======
    <li><a href="/map">Upcoming Races</a></li>|
    <li><a href="/runners">Our Athletes</a></li>|
>>>>>>> b01feb2ae9e7a87e083ee650c67d089c6de63fb3
=======
    <li><a href="/map">Upcoming Races</a></li>|
    <li><a href="/runners">Our Athletes</a></li>|

>>>>>>> ce1ab5d0691076bfede0dbd6e7cd59e0267c9ed9
    <li><a href="/contact">Contact Us</a></li>|
  </ul>
</nav>