<div class="runner_wrapper">
  <div class="athlete_info">
    <h1>Our <br> Athletes</h1>
    <p>To become a sponsored athlete you need to
    be able to run 1021381 miles in under 3121 minutes and To become a sponsored athlete you need to be able to run 1021381 miles in under 3121 minutes and To become a sponsored athlete you need to be able to run 1021381 miles in under 3121 minutes and </p>
  </div>
  <div class="athletes">
    <div class="row">
      <img src="./images/athlete_1.jpg" alt="">
      <p>Name</p>
      <p>Sport</p>
    </div>

    <div class="row">
      <img src="./images/athlete_2.jpg" alt="">
      <p>Name</p>
      <p>Sport</p>
    </div>

    <div class="row">
      <img src="./images/athlete_3.jpg" alt="">
      <p>Name</p>
      <p>Sport</p>
    </div>

    <div class="row">
      <img src="./images/athlete_1.jpg" alt="">
      <p>Name</p>
      <p>Sport</p>
    </div>

    <div class="row">
      <img src="./images/athlete_1.jpg" alt="">
      <p>Name</p>
      <p>Sport</p>
    </div>

    <div class="row">
      <img src="./images/athlete_1.jpg" alt="">
      <p>Name</p>
      <p>Sport</p>
    </div>
  </div>
</div>