.modal {
  position: absolute;
  form {
    width: 500px;
    height: 500px;
  }
  label {
    display: block;
    position: relative;
    font-size: 30px;
  }
  input {
    position: relative;

  }
}

$blue: #E5F4FD;
$orange: #CFA50E;
$peach: #FEF7DD;
$dark-brown: #2B0E02;
$green: #2B2006;
$sans-serif-font: 'Mukta', sans-serif;

// All pages

* {
  margin: 0;
  padding: 0; 
}

.body {
  color: black;
  background-color: $green;
  font-family: $sans-serif-font;
  margin-top: 70px;
  padding: 20px 50px;
}

.nav {
	width: 100%;
	top: 0;
	background-color: $orange;
	padding: 20px 50px;
	position: fixed;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	z-index: 3;
	font-family: $sans-serif-font;

	li {
		display: inline-block;
	}

	a{
		padding: 5px 35px;
		color: $dark-brown;
		font-weight: bold;
		text-decoration: none;
	}
	a:hover {
		background-color: white;
	}
}

footer {
	clear: both;
	background-color: $dark-brown;
	height: 300px;
}

// Home page

.header-content {
	position: absolute;
	top: 18%;
	left: 16%;

	h1 {
		text-transform: uppercase;
	}
	p {
		margin-top: -10px;
		font-size: 1.5em;
		padding-left: 110px;
	}
}

.header-photo {
	width: 100%;
	height: 400px;
}

.wrapper {
	padding: 30px;
	padding-bottom: 70px;
	width: 95%;
	height: 800px;
	background-color: $blue;
	h2 {
		padding-left: 10px;
		padding-bottom: 10px;
		text-transform: uppercase;
	}
	td {
		padding: 5px;
	}
	.event_time {
		background-color: $dark-brown;
		color: white;
		width: 130px;
		font-size: 1.1em;
	}
	.event_title {
		padding-bottom: 5px;
	}
}

.left-col {
	width: 40%;
	margin-right: 25px;
	position: relative;
	background-color: white;
	float: left;
	padding: 20px 20px; 
	li {
		list-style-type: none;
	}
	margin-bottom: 20px;
}

.right-col {
	width: 51.3%;
	background-color: $peach;
	position: relative;
	float: left;
	padding: 20px 20px;
}

table {
	padding: 0 10px;
	h4 {
		font-size: 1.3em;
	}
	img {
		float: left;
		width: 300px;
		height: 220px;
	}
}



