* {
  margin: 0;
  padding: 0; }

.home {
  color: black;
  background-color: #2B2006;
  font-family: "Mukta", sans-serif;
  margin-top: 70px;
  padding: 20px 50px; }

.nav {
  width: 1240px;
  top: 0;
  background-color: #CFA50E;
  padding: 20px 50px;
  position: fixed;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  z-index: 3;
  font-family: "Mukta", sans-serif; }
  .nav ul {
    width: 800px;
    margin: 0 auto; }
    .nav ul li {
      display: inline-block; }
    .nav ul a {
      padding: 5px 35px;
      color: #2B0E02;
      font-weight: bold;
      text-decoration: none; }
    .nav ul a:hover {
      background-color: white; }

.home footer {
  clear: both;
  background-color: #2B0E02;
  height: 300px; }

.header-content {
  position: absolute;
  top: 18%;
  left: 16%; }
  .header-content h1 {
    text-transform: uppercase; }
  .header-content p {
    margin-top: -10px;
    font-size: 1.5em;
    padding-left: 110px; }

.header-photo {
  width: 100%;
  height: 400px; }

.wrapper {
  padding: 30px;
  padding-bottom: 70px;
  width: 1280px;
  height: 800px;
  background-color: #E5F4FD; }
  .wrapper h2 {
    padding-left: 10px;
    padding-bottom: 10px;
    text-transform: uppercase; }
  .wrapper td {
    padding: 5px; }
  .wrapper tr.event_title {
    padding-bottom: 5px; }
  .wrapper td.event_time {
    background-color: #2B0E02;
    color: white;
    width: 130px;
    font-size: 1.4em;
    text-align: center; }

.left-col {
  width: 40%;
  margin-right: 25px;
  position: relative;
  background-color: white;
  float: left;
  padding: 20px 20px;
  margin-bottom: 20px; }
  .left-col li {
    list-style-type: none; }

.right-col {
  width: 51.3%;
  background-color: #FEF7DD;
  position: relative;
  float: left;
  padding: 20px 20px; }

table {
  padding: 0 10px; }
  table h4 {
    font-size: 1.3em; }
  table img {
    float: left;
    width: 300px;
    height: 220px; }

.footer {
  clear: both;
  padding: 0 20px; }

.modal.ease_in {
  transform: translateY(0);
  transition-timing-function: ease-in;
  transition: 0.2s; }

.contact {
  background-color: #FEF7DD; }

.modal {
  z-index: 1;
  transform: translateY(-140%);
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  width: 990px;
  background-color: blue;
  border-radius: 20px;
  background-color: #E5F4FD; }
  .modal form {
    width: 500px;
    height: 500px;
    margin-left: 30px;
    margin-top: 15px; }
  .modal label {
    display: block;
    position: relative;
    font-size: 50px; }
  .modal #modal_input {
    position: relative;
    font-size: 28px;
    border: 0;
    border-bottom: 1px solid black;
    background-color: transparent;
    width: 330px;
    margin-top: 30px;
    outline: none;
    font-family: "Mukta", sans-serif; }
  .modal textarea {
    width: 330px;
    height: 150px;
    margin-top: 20px;
    font-size: 20px; }
  .modal textarea:focus {
    outline: none; }
  .modal .submit_holder {
    text-align: center;
    width: 330px; }
    .modal .submit_holder #modal_submit {
      margin-top: 20px;
      width: 300px;
      height: 50px;
      font-size: 30px;
      border-radius: 10px;
      border: 0;
      outline: none;
      background-color: green;
      font-family: "Mukta", sans-serif; }
  .modal .video_wrapper {
    position: absolute;
    width: 600px; }
    .modal .video_wrapper iframe {
      position: relative;
      left: 390px;
      bottom: 515px;
      width: 600px;
      height: 514px;
      border-radius: 20px !important; }

.contact_wrapper {
  background-image: url("/images/contact_background.jpg");
  background-size: cover;
  vertical-align: top;
  width: 1440px;
  height: 800px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FEF7DD;
  font-family: "Mukta", sans-serif; }
  .contact_wrapper .left_contact {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    height: 800px;
    width: 600px; }
    .contact_wrapper .left_contact .left_inner_content {
      width: 400px;
      position: relative;
      top: 30%;
      left: 15%;
      color: white; }
      .contact_wrapper .left_contact .left_inner_content h1 {
        font-size: 60px; }
      .contact_wrapper .left_contact .left_inner_content #race_button {
        border: none;
        outline: none;
        background: transparent;
        margin: 30px;
        font-size: 20px;
        color: white;
        transition: all .3s ease-in-out;
        color: #FEF7DD; }
      .contact_wrapper .left_contact .left_inner_content #race_button:hover {
        transform: scale(1.2); }
  .contact_wrapper .right_contact {
    position: absolute;
    width: 650px;
    height: 450px;
    left: 700px;
    top: 260px;
    background-color: rgba(43, 14, 2, 0.6);
    border-radius: 10px; }
    .contact_wrapper .right_contact .contact_input {
      display: block;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      outline: none;
      font-size: 50px;
      border: 0;
      position: relative;
      border-bottom: 1px solid black;
      background-color: transparent;
      color: #FEF7DD; }
    .contact_wrapper .right_contact input::placeholder {
      color: #FEF7DD; }
    .contact_wrapper .right_contact #contact_submit {
      margin-top: 40px;
      margin-left: 485px;
      background-color: #2B0E02;
      color: white;
      border: 0;
      font-size: 20px;
      outline: 0;
      border-style: none;
      border-radius: 10px;
      padding-left: 15px;
      padding-right: 10px;
      letter-spacing: .2em; }

.runner_wrapper {
  margin-top: 200px;
  position: absolute; }
  .runner_wrapper .athlete_info {
    width: 300px;
    position: relative;
    left: 100px; }
  .runner_wrapper .athletes {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 950px;
    left: 450px;
    bottom: 200px; }
    .runner_wrapper .athletes .row {
      width: 280px;
      flex: 1;
      margin-top: 10px; }
      .runner_wrapper .athletes .row img {
        width: 250px;
        height: 250px; }
