

body {
  color: black;
  background-color: #6E362C;
}

.nav li {
	background-color: white;
	text-decoration: none;
	display: inline-block;
}

.left-col {
	background-color: #AFA8A0;
}

.right-col {
	background-color: #F8E3D7;
}